/* Span Width */
.span {
    padding-left: 10px;
    padding-right: 10px;
}

/* Header Style */
h1 {
    font-family: 'Comic Sans MS';
}

/* Link Styles */
a {
  text-decoration: underline;
  font-weight: none;
}

/* Unvisited Link Color */
a:link {
  color: Green;
}

/* Visited Link Color */
a:visited {
  color: Red;
}

/* Hovered-Over Link Style */
a:hover {
  text-decoration: none;
  font-weight: bold;
}

/* Active Link Style */
a:active {
  text-decoration: none;
}

/* Pills Style */
.center-pills { 
  display: inline-block; 
}
