.span {
    padding-left: 10px;
    padding-right: 10px;
}
h1 {
    font-family: 'Comic Sans MS';
}

a {
  text-decoration: underline;
  font-weight: none;
}

a:link {
  color: Green;
}

a:visited {
  color: Red;
}

a:hover {
  text-decoration: none;
  font-weight: bold;
}

a:active {
  text-decoration: none;
}

.center-pills { 
  display: inline-block; 
  }
